*{
	box-sizing:border-box;
}
body{
	margin:0px;
}
.row{
	border:solid 2px black;
}
.col{
	border:solid 2px red;
	color:red;
	height:28px;
}


.col1{
	border:solid 2px red;
	color:red;
	height:72px;
	width:1120px
	
}
.row{
	border:solid 2px red;
	color:red;
	height:4000px;
	padding:0px,0px,0px,160px;
}
.col2{
	border:solid 2px red;
	color:red;
	height:28px;
	
}
.col3{
	border:solid 2px red;
	color:red;
	height:40px;
	width:100%;
}
.movie_col{
	border:solid 2px red;
	color:red;
	height:auto;
	width:1200px;
	margin:auto;
}
.movie_row{
	border:solid 2px red;
	color:red;
	height:277px;
	width:1200px;
}
.movie_pic{
	border:solid 2px red;
	color:red;
	height:260px;
	width:500px;

}
