
body{
	background-color:black;
	color:white;
	
}

	
.box2{
	width:auto;
	height:28px;
	
	
}
.box3{
	width:auto;
	height:40px;
	
	
}
.box4{
	width:auto;
	height:30px;
	margin-right:2500px;
	
	
}
.box5{
	width:auto;
	height:28px;
}
	
.img_1{
	height:70px;
	width:70px;
	margin-left:80px;
}
.img_2{
	height:70px;
	width:140px;
	margin-left:10px;
}
.img_3{
	height:90px;
	width:330px;
	float:right;
}
.img_4{
	height:30px;
	width:90px;
	margin-left:133px;
}

.movie_row{
	height:350px;
	margin-left:150px;
	
}
.img_box{
	height:100%;
	width:300px;
	float:left;
}
.Description_box{
	float:left;
	margin-left:50px;
}



.movie_img{
	height:330px;
	width:100%;
}
.title{
	height:125px;
	width:600px;
	margin-left:5px;
	
}
.rating{
	height:50px;
	width:1040px;
	margin-left:5px;
	margin-top:10px;
}
.like{
	margin-left:60px;
}
.dislike{
	margin-left:30px;
	margin-top:-20px;
}

.circle{
	height:30px;
	width:30px;
	margin-left:100px;
	margin-top:-25px;
}
.Delete_icon{
	height:30px;
	width:30px;
	float:right;

}
.bottom{
	border:solid 1px white;
	margin-top:3px;
}
.bottoms{
	border:solid 1px red;
}


.footer{
	border:solid 2px blue;
	height:106px;
	width:auto;
	margin-top:1000px;
	background-color:#272734;
	
	
}
.project_div{
	height:30px;
	width:150px;
	float:left;
	margin-left:200px;
	margin-top:55px;
}
.project_divs{
	height:30px;
	width:150px;
	float:left;
	margin-top:60px;
}
.add_movie{
	height:150px;
	width:auto;
	margin-top:200px;
}
h3{
	margin-left:150px;
}
h6{
	margin-left:150px;
}
.new_movie{
	height:40px;
	width:180px;
	margin-left:150px;
	background-color:red;
}
.frame{
	height:25px;
}
.new_add{
	margin-left:15px;
	height:15px;
	margin-top:15px;
}
.a{
	height:20px;
	width:35px;
	float:right;
	margin-top:10px;
	margin-right:15px;
}
.add_movie_row{
	height:900px;
	width:900px;
	border:solid 1px green;
	margin-left:150px;
}
.fill_form{
	height:30px;
	width:300px;
	margin-left:200px;
	margin-top:50px;
}
.movie_form{
	height:30px;
	width:300px;
}
.name_of_movie{
	height:20px;
	width:200px;
	margin-top:70px;
}
.year_of_release{
	height:20px;
	width:200px;
	margin-top:70px;
}
input{
	background-color:#272734;
	height:30px;
	width:200px;
	border:solid 1px black;
	color:white;
}
input{
	border:solid 1px red;
}
.check_box{
	height:200px;
	width:300px;
	border:solid 1px red;
	margin-top:40px;
	background-color:red;
}
#checkbox{
	width:30px;
	height:25px;
	display: grid;
}
